learningboard/lb_proto/lb_proto/deployment.py
*.pyc
db.sqlite3

*.tmp

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsdx
