learningboard/lb_proto/lb_proto/deployment.py
*/migrations/*
*.pyc
db.sqlite3

dist
node_modules

*.tmp

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsdx
