html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

code {
  font-size: 80%;
}

textarea {
  resize: vertical;
}

.page-header {
  margin: 0 0 20px;
}

.panel-group .panel-heading {
  background-color: #337AB7;
  color: #FFF;
}

body > .container {
  padding: 100px 15px 0;
}

body > .body_container {
  padding: 0 15px 0;
}

.navbar .glyphicon {
  font-size: 22px;
}

.navbar-brand {
  margin-top: 12px;
  font-size: 26px;
}

.navbar-form {
  padding: 0;
  margin: 0;
}

.navbar-form .form-control {
  height: 77px;
  width: 360px;
  font-size: 18px;
}

.navbar-form .form-group span {
  position: absolute;
  margin-top: 26px;
  margin-left: 12px;
  color: #FFF;
  opacity: 0.8;
}

.navbar-form .form-group input {
  padding-left: 43px;
  border-radius: 0;
  border: none;
  color: #FFF;
  background-color: #158CB2;
}

.boardInfoBox {
  background-color: #E8E8E7;
}

.boardInfoBox .glyphicon, .boardInfoBox .fa {
  font-size: 20px;
  padding: 8px 0;
}

.boardControlBtn {
  font-weight: bold;
  padding: 2px 5px;
  border: 2px solid #EEE;
  background-color: #00BFFF;
  opacity: 0.82;
}

.boardEditButton {
  position: absolute;
  top: 15px;
  left: 30px;
}

.boardSendNewsButton {
  position: absolute;
  top: 15px;
  left: 75px;
}

.boardEditButton a, .boardSendNewsButton a {
  color: #FFF;
  text-decoration: none;
}

.progressBox {
  padding: 25px 0 0;
}

.progressBox > div {
  border-right: 1px solid #CCC;
  color: #555;
}

.progressBox > div:hover {
  color: #111;
}

.progressBox > div:last-child {
  border-right: none;
}

.progressBox > div .glyphicon, .progressBox > div .fa {
  font-size: 20px;
  padding: 5px;
}

.progressBox .progress {
  margin: 2px 0;
}

.activityList {
  margin-top: 10px;
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border: 2px dashed #EEE;
}

.activityList.viewMode {
  padding: 2px;
  border: none;
}

.activityList > .noActivity {
  margin-top: 25px;
}

.activityList > .activity {
  position: relative;
  padding: 10px;
  margin: 5px;
  border: 2px solid #EEE;
}

.activityList > .activity.unpublish {
  background: url(data:image/gif;base64,R0lGODlhFAAUAIAAAMDAwP///yH5BAEAAAEALAAAAAAUABQAAAImhI+pwe3vAJxQ0hssnnq/7jVgmJGfGaGiyoyh68GbjNGXTeEcGxQAOw==);
}

.activityList > .activity > h2, .activityList > .activity > h4 {
  color: #FF8C00;
}

.activityList > .activity .control ul {
  list-style: none;
  position: absolute;
  top: 5px;
  right: 5px;
}

.activityList > .activity .control ul li {
  display: inline-block;
  padding: 0 2px;
  cursor: pointer;
}

.activityList > .activity .comment span, .activityList > .activity .comment a {
  cursor: pointer;
  padding: 0 5px;
}

.tagList ul {
  list-style: none;
  padding: 0;
}

.tagList ul li {
  position: relative;
  display: inline-block;
  background-color: #EEE;
  margin: 2px;
  padding: 5px 10px;
  border-radius: 5px;
}

.tagList ul li span {
  position: absolute;
  top: -2px;
  right: 5px;
  font-size: 10px;
  cursor: pointer;
}

.footer > .container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.title {
  text-transform: capitalize;
}

@media (min-width: 769px) and (max-width: 992px) {
  .navbar-form .form-control {
    position: absolute;
    width: 180px;
    top: 0;
  }

  .navbar-form:hover .form-control {
    width: 100%;
    z-index: 1;
    transition: width .8s;
  }

  .navbar-form .form-group span {
    position: absolute;
    z-index: 2;
  }
}

@media (max-width: 768px) {
  body > .container {
    padding: 70px 15px 0;
  }

  .nav > li {
    display: inline-block;
  }

  .navbar-brand {
    margin-top: auto;
  }

  .navbar-form .form-control {
    height: auto;
    width: 100%;
  }

  .navbar-form .form-group span {
    position: absolute;
    margin-top: 58px;
    margin-left: 12px;
  }
}
